@{
    ViewData["Title"] = "Home Page";
}

<div>
    @(await Html.RenderComponentAsync<MatrixCalculator>(renderMode: RenderMode.ServerPrerendered))
</div>

<div style="width: 100px; margin: auto; padding-bottom: 500px;">
    <span style="color: green">RESULT</span>
    <div id="result">
    </div>
</div>