/* _content/viewMatrix/DeterminantMatrixUI.razor.rz.scp.css */
.my-component[b-47ei1z820v] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
/* _content/viewMatrix/InverseMatrixUI.razor.rz.scp.css */
.my-component[b-rhf1wt1ze9] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
/* _content/viewMatrix/MatrixCalculator.razor.rz.scp.css */
.my-component[b-pk3ppwviwd] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
/* _content/viewMatrix/MatrixViewer.razor.rz.scp.css */
.my-component[b-5qodw6w12t] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
/* _content/viewMatrix/SimpleMatrixUI.razor.rz.scp.css */
.my-component[b-wml928cjjw] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
/* _content/viewMatrix/Test.razor.rz.scp.css */
.my-component[b-8pspqbcm4f] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
